<h1>Edit localization key</h1>

Current key = <%= @current_path %>

<h3>New key:</h3>
<%= form_tag :action => :update_path do %>
  <%= hidden_field_tag :current_path, @current_path %>
  <%= text_field_tag :new_path, @current_path %>
  <%= submit_tag %>
<% end %>
  <div class="hint" style="margin-top:6px">
    A localization key is a string with sections separated by '.', for example <em>attributes.person.name</em>
  </div>
