<!DOCTYPE html>
<html  class="interpretatio">
<head>
  <meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Interpretatio</title>
  <%= stylesheet_link_tag    "interpretatio/application", media: "all" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "interpretatio/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="interpretatio">
	<div id ="page">
    <div id="header">
  		<h1>Interpretatio Localization Workbench</h1>
      <div class="menu">
        <ul>
          <li><%= link_to "Home", main_app.root_path %></li>
          <li><%= link_to "Localization records", {:controller => :translations, :action => :index} %></li>
          <li><%= link_to "Import and Export YAML", {:controller => :translations, :action => :import_export} %></li>
        </ul>
      </div>
  		<div id="notices" class="hidden"></div>
  		<div id="flash_notice" class="hidden"><%= flash[:notice] %></div>
      <div id="flash_warning" class="hidden"><%= flash[:warning] %></div>
      <div id="flash_error" class="hidden"><%= flash[:error] %></div>
    </div>
		<div id="content">	
			<%= yield %>
		</div>
	</div>
</body>
</html>